<br>
<center>
  <h2>Let's Convert Cash!</h2>
</center>
<br>
<p>Place your money in front of Simon and it will be converted into empty space!</p>
<br>
<p>Or just use this:</p>
<center>
  <iframe src=http://www.google.com/finance/converter>
    <p>Unfortunately, the currecy converter from google, refuses to obey</p>
  </iframe>
</center>